/* general display of vets */
.vets-container {
    /* /* height: 100%; */
    height: 800px;
    /* display: flex; */
    width: 93%;
    flex-direction: column;
    align-items: center;
    gap: 1em; 
    border: 1px solid transparent;
    margin: 80px 50px;
    background-color: white;
    border-radius: 20px;
}

.vet-view {
 /* border: 1px solid red;  */
 border: 1px solid transparent;
    position: relative;
    left: 200px;
    top: -808px;
    border-radius: 0 20px 20px 0px;
    height: 800px;
    width: 1120px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    display: block;
}

.pet-info {
    position: absolute;
    top: 60%;
    left: 0;
}


.navbar-item{
    position: absolute;
    top: 80%;
    left: 0;
}

.navbar .prof-pic-div {
    position:absolute;
    height: 180px;
    width: 180px;
    top:12%;
    right:50%;
    margin-top: 20px;
    border-top: 10px;
}
.navbar button {
    position: absolute;
    top: 90%;
    left: 36%;

}

/* vet card */
.vet-cards {
    display: flex;
    width: 70%;
    height: 17em;
    gap: 2em;
    /* border: 1px solid red; */
    position: relative;
    left: 320px;
    top: -100px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-left: 30px;
    border-color: transparent;
    background-color: rgb(248,237,234); 
    color: tomato;
    /* padding: 100px; */
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card button {
    border: 1px solid transparent;
    width: 50%;
}

/* add vet component  */
.addvet-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.addvet-form select {
    display: block;
  border-radius: 8px;
  border: 0.5px solid transparent;
  height: 10px;
  /* width: 90px; */
  padding: 0 10px;
  background-color: rgb(242,242,242);
  margin-bottom: 8px;
}

.addvet-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.addvet-item input {
    width: 70%;
}

.addvet-form select {
    width: 80%;
    height: 70%;
    margin: 1em;
}

#name-number {
    display: flex
}

#street-name {
    width: 65%;
}

#number {
    width: 30%;
    margin-left: 1em;
}

.addvet-form button {
    margin: 1em 2em;
    border: 1px solid black;
}

/* map size  */
